absl-py==0.9.0
affine==2.3.0
aiofiles==0.4.0
aiohttp==3.5.4
aioresponses==0.6.0
alembic==0.9.10
appdirs==1.4.3
argcomplete==1.11.1
arviz==0.7.0
astor==0.8.1
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.3.0
autopep8==1.5
awscli==1.18.16
backcall==0.1.0
basicauth==0.4.1
bcrypt==3.1.7
beautifulsoup4==4.7.1
bleach==3.1.0
blis==0.4.1
bnlearn==0.2.1
bokeh==1.4.0
boto3==1.13.21
boto==2.49.0
botocore==1.16.21
branca==0.4.1
bs4==0.0.1
bullet==2.1.0
bz2file==0.98
cachetools==3.1.1
cartopy==0.17.0
catalogue==1.0.0
catboost==0.20.1
cchardet==2.1.6
certifi==2020.4.5.1
cffi==1.13.2
cftime==1.0.4.2
chardet==3.0.4
ckanapi==4.3
click-plugins==1.1.1
click==7.0
cligj==0.5.0
cloudpickle==1.3.0
colorama==0.4.3
colorcet==2.0.2
colorlog==4.1.0
community==1.0.0b1
configparser==5.0.0
conllu==2.3.2
corona-ts-tools==0.0.1
crcmod==1.7
cryptography==2.8
cycler==0.10.0
cymem==2.0.3
cytoolz==0.10.1
dask==2.11.0
datashader==0.10.0
datashape==0.5.4
decorator==4.4.1
defusedxml==0.6.0
deprecated==1.2.10
descartes==1.1.0
distlib==0.3.0
distributed==2.11.0
dnspython==1.16.0
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.15.2
email-validator==1.0.5
en-core-sci-md==0.2.4
entrypoints==0.3
eon==1.1
esda==2.2.1
et-xmlfile==1.0.1
fastcore==0.1.16
fasteners==0.15
filelock==3.0.12
fiona==1.8.13
flake8==3.7.9
flask==1.1.1
flood-forecast==0.1.dev0
folium==0.11.0
fork-futures==0.0.2
fsspec==0.6.2
funcsigs==1.0.2
future==0.18.2
gast==0.2.2
gcs-oauth2-boto-plugin==2.5
gdal==3.0.4
gensim==3.8.1
geographiclib==1.50
geopandas==0.7.0
geopy==1.22.0
geoviews==1.6.6
giddy==2.3.0
gitdb==4.0.5
gitpython==3.1.2
google-api-core==1.17.0
google-apitools==0.5.30
google-auth-oauthlib==0.4.1
google-auth==1.14.1
google-cloud-core==1.3.0
google-cloud-storage==1.28.0
google-pasta==0.2.0
google-reauth==0.1.0
google-resumable-media==0.5.0
googleapis-common-protos==1.51.0
googlemaps==4.2.0
gql==0.2.0
graphql-core==1.1
graphviz==0.13.2
grpcio==1.28.1
gsutil==4.49
h5py==2.10.0
hdx-python-api==4.5.2
hdx-python-country==2.5.5
hdx-python-utilities==2.3.3
heapdict==1.0.1
holoviews==1.12.7
html5lib==1.0.1
httplib2==0.17.2
hvplot==0.5.2
hyperopt==0.2.2
idna==2.9
ijson==3.0.3
imageio==2.8.0
immo-cli==0.1
immo-etl==0.0.1
immo-learn==0.0.1
importlib-metadata==1.5.0
inequality==1.0.0
inflect==4.1.0
ipykernel==5.1.4
ipython-genutils==0.2.0
ipython==7.12.0
ipywidgets==7.5.1
ismember==0.1.1
iso3166==1.0.1
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.16.0
jinja2==2.11.1
jmespath==0.9.5
joblib==0.14.1
jsonlines==1.2.0
jsonpath-rw==1.4.0
jsonschema==3.2.0
jupyter-client==5.3.4
jupyter-console==6.1.0
jupyter-core==4.6.2
jupyter==1.0.0
keras-applications==1.0.8
keras-preprocessing==1.1.0
kiwisolver==1.1.0
libhxl==4.19
libpysal==4.2.2
lightgbm==2.3.0
linear-tsv==1.1.0
llvmlite==0.31.0
locket==0.2.0
loguru==0.4.1
lxml==4.5.0
mako==1.1.1
mapclassify==2.2.0
markdown==3.2.1
markupsafe==1.1.1
matplotlib==3.1.3
mccabe==0.6.1
mgwr==2.1.1
mistune==0.8.4
mkl-fft==1.1.0
mkl-random==1.1.0
mkl-service==2.3.0
mlens==0.2.3
mlxtend==0.17.2
mock==4.0.2
monotonic==1.5
more-itertools==8.2.0
mpmath==1.1.0
msgpack==1.0.0
multidict==4.7.4
multipledispatch==0.6.0
munch==2.5.0
murmurhash==1.0.2
nbconvert==5.6.1
nbformat==5.0.4
ndg-httpsclient==0.5.1
netcdf4==1.5.3
networkx==2.4
nmslib==2.0.6
notebook==6.0.3
num2words==0.5.10
numba==0.48.0
numexpr==2.7.1
numpy==1.17.4
nvidia-ml-py3==7.352.0
oauth2client==4.1.3
oauthlib==3.1.0
olefile==0.46
openpyxl==3.0.3
opt-einsum==3.1.0
ortools==7.4.7247
osmium==3.0.0
osmnet==0.1.5
osmnx==0.12.1
owslib==0.19.1
packaging==20.1
palettable==3.3.0
pandana==0.4.4
pandas==1.0.3
pandocfilters==1.4.2
panel==0.8.0
param==1.9.3
paramiko==2.7.1
parso==0.6.1
partd==1.1.0
pathtools==0.1.2
patsy==0.5.1
pbr==5.4.5
pdfkit==0.6.1
pexpect==4.8.0
pgmpy==0.1.9
pickleshare==0.7.5
pillow==7.0.0
pip==19.3.1
plac==1.1.3
plotly==4.5.0
pluggy==0.13.1
ply==3.11
pointpats==2.1.0
pomegranate==0.12.0
postal==1.1.8
preshed==3.0.2
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==3.0.3
protobuf3-to-dict==0.1.5
protobuf==3.11.4
psutil==5.7.0
psycopg2-binary==2.8.5
psycopg2==2.7.7
ptyprocess==0.6.0
py==1.8.1
pyaml==20.4.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pybind11==2.5.0
pycodestyle==2.5.0
pycparser==2.19
pyct==0.4.6
pydot==1.4.1
pyepsg==0.4.0
pyflakes==2.1.1
pygments==2.5.2
pygpu==0.7.6
pykdtree==1.3.1
pymc3==3.8
pymongo==3.10.1
pynacl==1.3.0
pyopenssl==19.1.0
pyparsing==2.4.6
pypeln==0.1.7
pyproj==2.5.0
pyqt5-sip==4.19.18
pyqt5==5.12.3
pyqtwebengine==5.12.1
pyro-api==0.1.1
pyro-ppl==1.2.1
pyrsistent==0.15.7
pysal==2.2.0
pysbd==0.2.3
pyshp==2.1.0
pysocks==1.7.1
pytest==3.8.0
python-dateutil==2.8.0
python-editor==1.0.4
python-io-wrapper==0.1
python-libsbml==5.18.0
python-slugify==4.0.0
pytz==2019.3
pyu2f==0.1.4
pyviz-comms==0.7.3
pywavelets==1.1.1
pyyaml==5.3
pyzmq==18.1.1
qtconsole==4.7.0
qtpy==1.9.0
quantecon==0.4.7
quantulum3==0.7.3
rasterio==1.1.4
rasterstats==0.14.0
ratelimit==2.2.1
requests-oauthlib==1.3.0
requests==2.23.0
retry-decorator==1.1.1
retrying==1.3.3
rsa==3.4.2
rtree==0.9.4
s3transfer==0.3.3
sagemaker==1.60.2
scikit-image==0.16.2
scikit-learn==0.22.1
scikit-posthocs==0.6.4
scipy==1.4.1
scispacy==0.2.4
seaborn==0.9.0
segregation==1.2.0
send2trash==1.5.0
sentry-sdk==0.14.4
setuptools==45.0.0.post20200113
shap==0.35.0
shapely==1.7.0
shortuuid==1.0.1
simplejson==3.17.0
six==1.14.0
sklearn==0.0
sktime==0.3.1
smart-open==1.11.1
smdebug-rulesconfig==0.1.2
smmap==3.0.4
snap-stanford==5.0.0
snorkel==0.9.5
snuggs==1.4.7
socksipy-branch==1.1
sortedcontainers==2.1.0
soupsieve==1.9.5
spacy==2.2.4
spaghetti==1.5.0
spglm==1.0.7
spint==1.0.6
splot==1.1.3
spreg==1.1.1
spvcm==0.3.0
sqlalchemy-utils==0.33.11
sqlalchemy==1.2.18
srsly==1.0.2
sshtunnel==0.1.5
statsmodels==0.10.2
subprocess32==3.5.4
sympy==1.5.1
tables==3.6.1
tabulate==0.8.6
tabulator==1.38.4
task-geo==0.1.0.dev0
tblib==1.6.0
tensorboard==2.1.1
tensorflow-estimator==2.1.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
theano==1.0.4
thinc==7.4.0
tobler==0.3.0
toolz==0.10.0
torch==1.4.0
torchvision==0.5.0
tornado==6.0.3
tqdm==4.41.1
traitlets==4.3.3
tsaug==0.2.1
tslearn==0.3.1
typing==3.7.4.1
unicodecsv==0.14.1
unidecode==1.0.23
urllib3==1.24.3
virtualenv==20.0.18
wandb==0.8.36
wasabi==0.6.0
watchdog==0.10.2
wcwidth==0.1.8
webencodings==0.5.1
werkzeug==0.16.1
wheel==0.33.6
widgetsnbextension==3.5.1
wrapt==1.12.1
xarray==0.15.0
xgboost==1.0.2
xlrd==1.2.0
yamlloader==0.5.5
yarl==1.4.2
zict==2.0.0
zipp==2.2.0