build
dist
flood_forecast.egg-info
*.DS_STORE
*.pyc
tests/runs
tests/output/
.ipynb_checkpoints
.pytest_cache/
data
mypy
.mypy_cache
*.png
*.svf
*.svg
.idea/flow-forecast.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/workspace.xml
