shap==0.45.1
scikit-learn>=1.0.1
pandas
torch
tb-nightly
seaborn
future
h5py
wandb==0.17.2
google-cloud
google-cloud-storage
plotly~=5.20.0
pytz>=2022.1
setuptools~=69.5.1
numpy==1.26
requests
torchvision>=0.6.0
mpld3>=0.5
numba>=0.50
sphinx
sphinx-rtd-theme
sphinx-autodoc-typehints
sphinx
einops
pytorch-tsmixer
einsum
jaxtyping