shap~=0.35.0
scikit-learn~=0.23.0
pandas~=1.0.3
torch
tb-nightly
seaborn
future
h5py
wandb
pandas_gbq
google-cloud
google-cloud-storage
pyyaml
plotly~=4.7.1
pytz~=2020.1
setuptools~=46.4.0
numpy~=1.18.4
requests~=2.23.0
torchvision~=0.6.0
mpld3~=0.3
sphinx
sphinx-rtd-theme
sphinx-autodoc-typehints


